.app-main-input {
	display: block;
	width: 60%;
	margin: 0 auto; 
	
	input {
		position: relative;
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-indent: 10px;
        padding: 3px 20px;
        box-sizing: border-box;
        border: none;
        font-size: 17px;
        color: #8E8E8E !important;
        margin-bottom: 50px;
        border-radius: 5px;
        background-color: #F4F6F8 !important;
	}
}

@media screen and (max-width: 480px) {
    .app-main-input {
        width: 100%;
    }
}