.app-main-profile {
	width: 80%;
    height: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 5%;

    &-header {
    	display: flex;
    	align-items: center;

    	a {
    		display: flex;
    		align-items: center;
    	}

    	h2 {
    		font-weight: 200;
    		text-transform: uppercase;
    	}

    	&-arrow {
    		width: 20px;
    		height: 30px;
    		margin-right: 18px;
    	}

    }

    &-description {
    	display: flex;
    	margin-top: 30px;

    	&-avatar {
    		width: 170px;
    		height: 170px;
    		overflow: hidden;
    		border-radius: 50%;
    		margin-right: 50px;

    		img {
    			height: 100%;
    			width: auto;
    		}
    	}

    	&-text {
    		display: flex;
    		flex-flow: column;

    		h3 {
    			font-size: 29px;
    			margin: 0;
    			margin-bottom: 18px;
    			font-weight: 100;
    		}

    		h5 {
    			margin: 0;
    			margin-left: 5px;
    			font-size: 17px;
    		}

    		span {
    			font-size: 17px;
    			margin-bottom: 15px;
    			display: flex;
    			align-items: center;
    			white-space: nowrap;
    		}

    		&-follow {
    			margin-top: 20px;
    			display: flex;

    			span {
    				margin-right: 10px;
    			}
    		}
    	}
    }

    &-bio {
    	margin-top: 37px;
    	display: flex;
    	align-items: center;

    	span {
    		position: relative;
    		font-size: 18px;
    		width: 90%;
    	}

    	&-circle {
    		width: 12px;
    		height: 12px;
    		border-radius: 50%;
    		display: block;
    		margin-right: 8px;
    		background-color: #393E46;
    	}
    }

    &-repos {
    	position: relative;

    	h2 {
    		font-size: 26px;
    		font-weight: 100;
    	}
    }
}