html {
  min-height: 100% !important;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #242446;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  outline: none;
  flex-shrink: 0;
}

svg {
  flex-shrink: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #242446;
}

.app {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.title {
  margin: 10px auto;
  font-weight: bold;
  text-align: center;
  font-size: 1.6em;
  margin-bottom: 20px;
}